.tydic-modal .dic_modal {
	overflow: hidden;
	border-radius: 5px;
	box-sizing: border-box;
	position: fixed;
	z-index: 999;
	text-align: center;
	top: 50%;
	left: 50%;
}

.tydic-modal .dic_modal_button {
	border: none;
	box-shadow: none;
	font-size: 17px;
	font-weight: 500;
	-webkit-border-radius: 4px;
	border-radius: 5px;
	padding: 10px 32px;
	cursor: pointer;
}

.tydic-modal .panel {
	width: 100%;
	height: auto;
	background-color: #fff;
	border: 1px solid transparent;
}

.tydic-modal .panel-info {
	border-color: #bce8f1;
}

.tydic-modal .panel .panel-heading {
	padding: 0px 15px;
	border-bottom: 1px solid transparent;
	height: 40px;
	line-height: 40px;
}

.tydic-modal .panel-info .panel-heading,
.tydic-modal .panel-default .panel-heading {
	color: #000;
	background-color: #93dfff;
	border-color: #bce8f1;
}

.tydic-modal .panel .panel-heading .panel-title {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 16px;
	color: inherit;
}

.tydic-modal .panel .panel-heading button.close {
	border: 0;
	background: transparent;
	color: #000;
	font-size: 25px;
	float: right;
	height: 40px;
	line-height: 40px;
	opacity: 0.2;
	cursor: pointer;
}

.tydic-modal .panel .panel-body {
	width: 100%;
}