@charset "utf-8";

html, body {
	width: 100%;
	height: auto;
    background: #00b4ef;
}

*{
	margin: 0;
	padding: 0;
}

a, a:hover {
    cursor: pointer;
}

.fl {
	float: left;
}

.fr {
	float: right;
}
.row {
    margin-left: auto;
    margin-right: auto;
}

ol, ul {
    list-style: none
}

.footer {
    text-align: center;
    margin-top: 20px;
    padding: 20px auto;
}

.w500 { width: 500px; }

.canvas1 {
	z-index: 200;
    position: absolute;
    top: 0;
    left: 0;
}

.h30 {
	height: 30px !important;
}

.w180 {
	width: 180px !important;
}

.indexPage li a {
    font-size: 20px;
    color: #fff;
}
