.tydic-dbfx .img15,
.tydic-dbfx .img16,
.tydic-dbfx .img-jj,
.tydic-dbfx .img-pcppsj,
.tydic-dbfx .img-ygl,
.tydic-dbfx .img-ypc,
.tydic-dbfx .img-zgl,
.tydic-dbfx .img-zpc,
.tydic-dbfx .img-zzsysj,
.tydic-dbfx .img1,
.tydic-dbfx .img3,
.tydic-dbfx .img4,
.tydic-dbfx .img6,
.tydic-dbfx .img11,
.tydic-dbfx .img12,
.tydic-dbfx .img17,
.tydic-dbfx .img14,
.tydic-dbfx .img5,
.tydic-dbfx .img8,
.tydic-dbfx .img10,
.tydic-dbfx .img13,
.tydic-dbfx .img7,
.tydic-dbfx .dic-panel-close,
.tydic-dbfx .dic-panel-open {
	display: inline-block;
	background: url('../images/icons.png') no-repeat;
	overflow: hidden;
	text-indent: -9999px;
	text-align: left;
}

.tydic-dbfx .img15 {
	background-position: -5px -0px;
	width: 124px;
	height: 45px;
}

.tydic-dbfx .img16 {
	background-position: -5px -50px;
	width: 97px;
	height: 46px;
}

.tydic-dbfx .img-jj {
	background-position: -5px -101px;
	width: 80px;
	height: 53px;
}

.tydic-dbfx .img-pcppsj {
	background-position: -5px -159px;
	width: 80px;
	height: 53px;
}

.tydic-dbfx .img-ygl {
	background-position: -5px -217px;
	width: 80px;
	height: 53px;
}

.tydic-dbfx .img-ypc {
	background-position: -5px -275px;
	width: 80px;
	height: 53px;
}

.tydic-dbfx .img-zgl {
	background-position: -5px -333px;
	width: 80px;
	height: 53px;
}

.tydic-dbfx .img-zpc {
	background-position: -5px -391px;
	width: 80px;
	height: 53px;
}

.tydic-dbfx .img-zzsysj {
	background-position: -5px -449px;
	width: 80px;
	height: 53px;
}

.tydic-dbfx .img1 {
	background-position: -90px -101px;
	width: 28px;
	height: 24px;
}

.tydic-dbfx .img3 {
	background-position: -90px -130px;
	width: 28px;
	height: 24px;
}

.tydic-dbfx .img4 {
	background-position: -90px -159px;
	width: 25px;
	height: 25px;
}

.tydic-dbfx .img6 {
	background-position: -90px -189px;
	width: 23px;
	height: 23px;
}

.tydic-dbfx .img11 {
	background-position: -90px -217px;
	width: 22px;
	height: 22px;
}

.tydic-dbfx .img12 {
	background-position: -90px -244px;
	width: 20px;
	height: 20px;
}

.tydic-dbfx .img17 {
	background-position: -90px -269px;
	width: 20px;
	height: 20px;
}

.tydic-dbfx .img14 {
	background-position: -107px -50px;
	width: 17px;
	height: 17px;
}

.tydic-dbfx .img5 {
	background-position: -107px -72px;
	width: 16px;
	height: 14px;
}

.tydic-dbfx .img8 {
	background-position: -90px -294px;
	width: 16px;
	height: 13px;
}

.tydic-dbfx .img10 {
	background-position: -90px -312px;
	width: 15px;
	height: 15px;
}

.tydic-dbfx .img13 {
	background-position: -110px -312px;
	width: 14px;
	height: 14px;
}

.tydic-dbfx .img2 {
	background-position: -107px -91px;
	width: 14px;
	height: 8px;
}

.tydic-dbfx .img7 {
	background-position: -110px -331px;
	width: 14px;
	height: 14px;
}

.tydic-dbfx .img9 {
	background-position: -90px -332px;
	width: 14px;
	height: 8px;
}